@model MyTasksAction.Web.ViewModels.DashboardTaskViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container d-flex justify-content-between">
    <div class="col-6 p-3">
        <h2>Mes tâches</h2>
        <div class="bg-light p-3 rounded">
            @if (Model.MyTasksAction.Count > 0)
            {
                @foreach (var task in Model.MyTasksAction)
                {
                    <div class="card mb-2">
                        <div class="card-body">
                            <h3>@task.Title</h3>
                            <span>@task.Title</span>
                        </div>
                    </div>
                }
            }
            else
            {
                <span class="fst-italic">Aucune tâche</span>
            }


        </div>
    </div>
    <div class="col-6 p-3">
        <h2>Mes demandes</h2>
        <div class="bg-light p-3 rounded">
            @if (Model.AssignTasksAction.Count > 0)
            {
                @foreach (var task in Model.AssignTasksAction)
                {
                    <div class="card mb-2">
                        <div class="card-body">
                            <h3>@task.Title</h3>
                            <span>@task.Title</span>
                        </div>
                    </div>
                }
            }
            else
            {
                <span class="fst-italic">Aucune tâche</span>
            }
        </div>
    </div>
</div>